.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
}

.button {
  height: 40px;
  padding: 6px 12px;
  box-sizing: border-box;
  margin: 8px 0 16px;
  cursor: pointer;
  font-weight: 700;
  transition: opacity 300ms linear;
  border: 1px solid #d6d6d6;

  &--primary {
    background-color: #d6d6d6;
  }

  &--secondary {
    border-color: #696969;
    background-color: transparent;
  }

  &:hover {
    opacity: 0.8;
  }
}
