<section class="modal">
  <div class="modal__wrapper">
    <button class="modal__close" (click)="closeDeleteConfirmationModal()">Cancelar</button>
    <p>Editando o produto:</p>
    <form class="update__form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <label>
        Título
        <input required type="text" formControlName="title">
      </label>
      <label>
        Preço
        <input required type="number" formControlName="price">
      </label>
      <label>
        Descrição
        <input required type="text" formControlName="description">
      </label>
      <input type="hidden" formControlName="_id">
      <input type="submit" value="Atualizar">
    </form>
    <p *ngIf="updateFormMessage" class="update__form">{{ updateFormMessage }}</p>
  </div>
</section>
